div {
    text-align: center;
    width: 900px;
    margin-left: 320px;
    margin-top: 200px;
}
.text {
    font-size: 20px;
    line-height: 30px;
}
.back {
    text-decoration: none;
    color: black;
}
