<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ричард</title>
    <link rel="stylesheet" href="css/dog_Richard.css">
</head>
<body>
    <nav>
        <a class="back" href="dog.html">Вернуться</a>
    </nav>
    <div>
        <h1>Ричард</h1>
        <p class="text">Ричард - обаятельный красавчик с игривым характером. Ему нужно время, чтобы привыкнуть к новому человеку. Обожает прогулки и изучение новых объектов. Хорошо ходит на поводке, обожает внимание, никогда не упустит шанс подставить животик для пересушек. Ричард очень послушный, знает команды и с радостью может научиться чему-нибудь новому. А самое прекрасное в нем это спокойных характер и внимательность.
            Рич очень осторожный и добрый пес, с другими животными ведет себя интеллигентно.
            У Ричарда очень интересный коричнево-подпалый, и длинный, пушистый, лисий хвост. Он сильно выделяется из всего вольера. Ричарду около 3,5 лет, он привит и кастрирован. Размер по колено.
            Может этот ушастик - именно то, чего не хватало в Вашей жизни?</p>
    </div>    
</body>
</html>