<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сойер</title>
    <link rel="stylesheet" href="css/dog_Sawyer.css">
</head>
<body>
    <nav>
        <a class="back" href="dog.html">Вернуться</a>
    </nav>
    <div>
    <h1>Сойер</h1>
    <p class="text">В приют ежедневно поступают звонки от людей с просьбами усыпить или убить собак из-за их агрессии. 
        Одним героем такой истории стал старый пес по кличке Сойер. Бедолагу выкинули в подъезд, 
        а тот так сильно испугался, что никого не подпускал к себе и лаял. Вот люди и подумали, что он агрессивный.
        А на самом деле, Сойер испытывал серьёзный стресс, и пытался защитить себя
        7 лет жил в квартире, был любимым другом и верным приятелем. И за пару секунд стал никому ненужным, бродячим псом.
        На самом деле Сойер очень добрый, общительный и ласковый пес. Своего будущего хозяина он будет любить, оберегать и 
        никогда не даст в обиду! Сойер отлично ходит на поводке, знает команды "Сидеть", "Лежать", "Дай лапу". 
        Периодически может лаять на незнакомых, но это поведение легко отредактировать ежедневными занятиями. Хорошо общается 
        с кошками и собаками, но в конфликтных ситуациях может за себя постоять.
        Любит кушать натуральную еду, обожает лакомства и сахарные косточки. Несмотря на солидный возраст, а ему уже 8 лет, он очень 
        активный и любит играть.
        Сойер с нетерпением ждет свою семью!
        Сейчас Сойеру 8 лет, он привит, кастрирован, обработан от паразитов.</p>
    </div>
</body>
</html>