<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Бетти</title>
    <link rel="stylesheet" href="css/dog_Betty.css">
</head>
<body>
    <nav>
        <a class="back" href="dog.html">Вернуться</a>
    </nav>
    <div>
        <h1>Бетти</h1>
        <p class="text">Если вы ищите себе собаку, с которой в будущем планируете заниматься дрессировкой и спортом, 
            то у нас есть идеальный вариант - белоснежный ушастик по имени Бетти.
            Бетти живёт в приюте уже четыре месяца, и почему он все еще не нашел себе дом?
            Щенок ориентирован на человека, поэтому готов пойти с ним хоть на край света, но главное - вместе.
            Мальчишка быстро учит команды и старательно их выполняет за лакомство. Поиграть в игрушки он тоже не откажется, ведь это так весело! В отсутствие человека он быстро находит себе занятия. За считанные секунды хулиган Бетти успевает проверить все пакеты, найти себе там что-нибудь вкусное, может даже помочь сделать ремонт в квартире. Но после долгих физических и умственных нагрузок у щеночка отпадает желание совершать маленькие шалости.
            Сейчас он только учится гулять на поводке, но уже проявляет большие успехи.
            Со своими сородичами он с радостью бежит дружить и играть, а кошек совсем не замечает.
            Эрти около 2,5 года. Он полностью здоров, обработан от паразитов, кастрирован и привит.</p>
    </div>
</body>
</html>