<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Как нам помочь</title>
    <link type="text/css" href="{% static 'style-help.css'%}" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="logo_div">
            <img class="logo_1" src="img/logo_1.png" alt="">
            <img class="logo_2" src="img/logo_2.png" alt="">
        <ul>
            <li><a href="help/">Как помочь</a></li>
            <li><a href="#">Кошки</a></li>
            <li><a href="dog/">Собаки</a></li>
            <li><a href="#">Где нас найти</a></li>
        </ul>
    </div>
    </nav>
    <div class="div_1"> 
        <h1>Как стать волонтером?</h1>
        <p>Мы будем рады, если вы присоединитесь к нашей команде и поможете ухаживать за животными. 
            Если у вас есть желание и свободное время помочь животным в беде - ждём Вас!</p>
        <button class="button"><a href="form/">Стать волонтером</a></button>
        </div>
    <div class="div_2">
        <h1>Как нам помочь?</h1>
        <p>Просим вас уточнять время приема и необходимые товары.</p>
        <p class="help_money">* приют не принимает в качестве пожертвований деньги. 
            Вы можете привезти все необходимое, либо оплатить услуги ветеринара в ветеринарной клинике самостоятельно.</p>
        </div>
</body>
</html>
